{% extends 'level_4/finalQuestion.html' %}

{% block content %}
<div class="w-full lg:w-1/3 bg-gray-800 p-6 rounded-xl shadow-xl border border-gray-700">
    <h1 class="text-3xl font-bold text-cyan-400">CHALLENGE-1</h1>
    <h2 class="text-xl font-semibold mt-2 text-gray-200">The Mastermind’s Cipher.</h2>
    <p class="mt-2 text-gray-300">
        Decrypt a Caesar Cipher message where the shift is unknown.
    </p>
    <h3 class="text-lg font-semibold mt-4 text-yellow-400">TEST CASE:</h3>
    <p id="input" class="bg-gray-700 text-gray-200 p-2 rounded mt-2">
        INPUT: "flskhu"
        OUTPUT: "cipher"
    </p>
</div>
{% endblock %}

{% block data %}
const data = {
    language_id: language,
    source_code: code,
    stdin: "KHOOR", 
    cpu_time_limit: 2,
    memory_limit: 128000
};
{% endblock %}

{% block result_check %}
    let ans = result.stdout || result.stderr || "No output";
    const code = editor.getValue();
    if (ans.trim() === "HELLO") {
        document.getElementById("output").textContent = ".--. (Note this morse code for further use)";
    }
    else {
        document.getElementById("output").textContent = ans;
    }
{% endblock %}
