{% extends 'level_3/level3base.html' %}

{% block timer %}
let timeLeft = 1800;
{% endblock %}

{% block content %}
<div class="w-full lg:w-1/3 bg-gray-800 p-6 rounded-xl shadow-xl border border-gray-700">
    <h1 class="text-3xl font-bold text-cyan-400">CHALLENGE-1</h1>
    <h2 class="text-xl font-semibold mt-2 text-gray-200">1.	The Guardian’s Lock</h2>
    <p class="mt-2 text-gray-300">
        Write a function to check if a password contains both uppercase and lowercase letters, and at least one digit.
    </p>
    <h3 class="text-lg font-semibold mt-4 text-yellow-400">TEST CASE:</h3>
    <p id="input" class="bg-gray-700 text-gray-200 p-2 rounded mt-2">
        INPUT: Password@17
        OUTPUT: "True"
    </p>
</div>
{% endblock %}

{% block data %}
const data = {
    language_id: language,
    source_code: code,
    stdin: "Case", 
    cpu_time_limit: 2,
    memory_limit: 128000
};
{% endblock %}

{% block result_check %}
    let ans = result.stdout || result.stderr || "No output";
    const code = editor.getValue();
    if (ans.trim() === "False") {
        document.getElementById("output").textContent = "-.-.-- (Note this morse code for further use)";
    }
    else {
        document.getElementById("output").textContent = ans;
    }
{% endblock %}

{% block redirection %}
document.getElementById("next-btn").addEventListener("click", () => {
    window.location.href = "{% url 'question' level=3 question=2 %}"; // Change this to the actual next page URL
});
{% endblock %}
